@charset "utf-8";

/*** FONTS: Song Myung, Source Sans Pro, Roboto, Playfair Display, Poppins, Open San, Montserrat ***/


/**NAVIGATION BAR**/
img.headerLogo {
    width:10vw;
    max-height: 100px;
    min-width: 80px;
}

nav {
    max-width:1300px;
    margin:auto;
}

li.nav-item{
    margin-left: 20px;
}

a.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: right;
}

div.dropdown-menu {
    font-family: 'helvetica','arial',sans-serif;
    background-color: #fff;
    font-size: 14px;
}

/**MOBILE - nav dropdown align right**/
@media (min-width: 300px) and (max-width: 768px) {
    div.dropdown-menu {
        text-align: right;
    }
}


/**MAIN**/
@media only screen and (min-width: 768px) {
    div.main {
        /*background: url("img/bio/bio-dan.png");*/
        background-color: #fff;
        background-size: cover;
        background-position: center;
    }
}

/**MOBILE**/
@media (min-width: 300px) and (max-width: 768px) {
  div.main {
    background-color: #fff;
    background-image: url("img/hero-main-mobile.jpg");
    background-size: cover;
    background-position: 100%;
  }
}


div.hero {
    
    margin: auto;
    padding-top: 5%;
    padding-bottom: 15%;
}

h1.heroH1 {
    text-align: right;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 3em;
    color: #333;
    text-align: center;
}

span.heroH1B {
    color: #5e0911;
    letter-spacing: 2px;
    text-shadow: 0px 1px 1px #7a7a7a;
    text-align: center;
}

/** SERVICES **/
div.service {
    background-color: #3C4851;
    box-shadow:  inset 0px 11px 30px -17px #000;
    padding-bottom: 5%;
}

div.serviceRowOne {
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 1080px;
    margin: auto;
}


div.serviceRowTwo {
    padding-top: 2%;
    padding-bottom: 4%;
    max-width: 1080px;
    margin: auto;
}


h1.serviceH1 {	
	text-align:right;
	text-transform:capitalize;
    font-family: 'roboto',sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    padding-right: 10%;
    border-right: 10px solid #ffbe00;
}


/**MOBILE - Header**/
@media (min-width: 300px) and (max-width: 768px) {
    h1.serviceH1 {
        border-right: 0px;
        border-bottom: 10px solid #ffbe00;
        font-size: 2.2em;
        padding-bottom: 5%;
        padding-top: 5%;        
    }
    h2.serviceH2 {
        padding-bottom: 5%;
        padding-top: 5%;     
    }
}


h2.serviceH2 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'ROBOTO',sans-serif;
    font-size: 2.5em; 
    color: #fff;
}

h4.serviceH4 {
    text-align: left;
    color: #ffbe00;
}

h5.serviceH5 {  
    text-align: left;
    margin-top: 3%;
    margin-right: 15%;
    font-family: 'helvetica', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #ddd;
}

div.serviceCol {
    padding: 1%;
}

div.serviceWeb {
    max-width: 1300px;
    margin:auto;
    padding-bottom: 5%;
    color: #a8a8a8;
    font-family: 'futura', sans-serif;
}

img.serviceGraphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    margin-top: 5%;
}


/** CONTACT **/

div.contact {
    background: #ffffff;
    background-image: url(img/Backgrounds/bg-1-blue.jpg);
    background-size: cover;
    box-shadow:  inset 0px 0px 200px -50px #000;
}

div.contactMain {
    max-width: 1300px;
    margin:auto;
    padding-top: 15%;
    padding-bottom: 13%;
    color: #fff;
    font-family: 'futura', sans-serif;
    text-align: center;
    text-shadow: 0px 1px 3px #7a7a7a;
}

h1.contactH1{
    font-family: 'roboto',sans-serif;
}

div.contactLeft {
    padding-right: 5%;
}

div.contactRight {
    padding-top: 2%;
}

label.col-form-label {
    text-align: right;
}

button.contactSubmit {
    width: 200px;
    margin-left: 18%;
}



/**MOBILE - align form text left, center botton**/
@media (min-width: 300px) and (max-width: 768px) {
    label.col-form-label {
        text-align: left;
    }
    button.contactSubmit {
        width: 200px;
        margin-left: 0%;
    }
}




/** PROJECTS

div.projects {
    background: #239B56;
}

div.projectsMain {
    max-width: 1080px;
    margin:auto;
    padding-top: 15%;
    padding-bottom: 15%;
    color: #fff;
    font-family: 'futura', sans-serif;
    text-align: center;
}
**/

/** TEAM **/
div.team {
    background-color: #3C4851  ;   
    box-shadow:  inset 0px 11px 30px -17px #000;
}

div.teamMain {
    max-width: 1300px;
    margin:auto;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'futura', sans-serif;
    text-align: center;
}

img.teamImg {
    width: 100%;
    height: 100%;
    padding: 2%;
}
img.personImg {
    width: 30%;
    height: 30%;
    padding: 2%;
}

h2.teamH2 {
	text-align:left;
	text-transform:capitalize;
    font-family: 'roboto',sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    margin-right: 7%;
    margin-left: 5%;
    border-bottom: 10px solid #ffbe00;
    padding-top: 30px;
    padding-bottom: 30px;
}

h5.teamH5 {  
    text-align: left;
    margin-top: 20px;
    margin-right: 7%;
    margin-left: 5%;
    font-family: 'helvetica', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #ddd;
    padding-bottom: 15%;
}

div.teamPortrait {
    padding:5px;
}


/** Footer **/

div.footer {
    background: #e4e4e4;

}

div.footerMain {
    max-width: 1080px;
    margin:auto;
    padding-top: 5%;
    padding-bottom: 2%;
    color: #6C6C6C;
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 0.9em;
}

/* Image Overlay */
.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.text {
    color: white;
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
